  <div data-w-id="0f3248ba-0e15-d0a9-4f99-7b44db590e67" style="display:none" class="load-box">
    <div class="header-section">
      <div class="header-container w-container">
        <div class="header-row w-row">
          <div class="header-left w-col w-col-6"><a href="http://neolist.io" class="w-inline-block"><img src="images/neolist-tick.svg" alt="Neo List Logo" class="neo-list-logo-image"></a>
            <div class="neolist-text"><span class="green"></span><a href="http://neolist.io" class="neo-list-logo"><span xmlns="http://www.w3.org/1999/xhtml" class="green">NEO</span> LIST</a></div>
          </div>
          <div class="header-right w-col w-col-6">
            <div class="credit-row header w-row">
              <div class="credit-left w-clearfix w-col w-col-6"><img src="images/neolist-bolt.svg" class="bolt-img"></div>
              <div class="credit-right w-clearfix w-col w-col-6">
                <div class="credit-info">Powered By</div><a href="https://twitter.com/ByteSizeCapital" target="_blank" class="credit-name">@ByteSizeCapital</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body-section">
      <div class="body-container w-container">
        <div class="project-top w-clearfix">
          <div id="project-status" class="project-stage">{{this.status}}</div>
          <div id="project-rating" class="{{#rating this.rating}}{{/rating}}"></div>
          <div id="project-ratingtext" class="project-status">{{#ratingDesc this.guidelines-info1-status}}{{/ratingDesc}}</div>
        </div>
        <div class="project-body">
          <div class="project-c w-clearfix">
            <div class="r1 w-row">
              <div class="col1 w-col w-col-5"><img src="images/nex-logo.png" width="46" id="project-image" class="project-image large"></div>
              <div class="col2 w-col w-col-7">
                <div class="c4">
                  <div id="project-name" class="text-block-4-c1">{{this.name}}</div>
                </div>
                <div id="project-category" class="c5">{{this.category}}</div>
              </div>
            </div>
          </div>
          <div class="c2">
            <p id="project-description" class="project-description">{{this.description}}</p>
          </div>
          <div class="c3 w-clearfix">
            <div class="c6">
              <div class="t1">LINKS</div>
            </div>
            <div class="c7">
              <div class="t1">SOCIAL</div>
            </div>
          </div>
          <div class="w-clearfix">
            <div class="c6"><a href={{this.linkswhitepaper}} id="project-websitelink" class="image-link w-inline-block"><img src="images/neolist-website.svg" id="project-website" class="info-true"></a><a href={{this.linkswhitepaper}} id="project-whitepaperlink" class="image-link w-inline-block"><img src="images/neolist-whitepaper.svg" width="14" id="project-whitepaper" class="info-true"></a></div>
            <div class="c7"><a href="#" class="image-link w-inline-block"><img src="images/twitter.svg" id="project-website" class="info-true"></a><a href="#" class="image-link w-inline-block"><img src="images/twitter.svg" id="project-website" class="info-true"></a><a href="#" class="image-link w-inline-block"><img src="images/twitter.svg" id="project-website" class="info-true"></a><a href="#" class="image-link w-inline-block"><img src="images/twitter.svg" id="project-website" class="info-true"></a><a href="#" class="image-link w-inline-block"><img src="images/twitter.svg" id="project-website" class="info-true"></a><a href="#" class="image-link w-inline-block"><img src="images/twitter.svg" id="project-website" class="info-true"></a></div>
          </div>
        </div>
        <div class="project-heading first">
          <div>
            <div class="project-title">Token Sale Information</div>
          </div>
        </div>
        <div class="project-body">
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">KYC</div>
              </div>
              <div class="project-col-body">
                <p id="project-kycinfo">{{this.infokyclong}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">White Listing</div>
              </div>
              <div class="project-col-body">
                <p id="project-whitelistinfo">{{this.infowhitelistlong}}</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Location Restrictions</div>
              </div>
              <div class="project-col-body">
                <p id="project-locationinfo">{{this.infolocationslong}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Bonuses</div>
              </div>
              <div class="project-col-body">
                <p id="project-bonusesinfo">There is a 25% bonus for pre-sale participants</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Personal Cap</div>
              </div>
              <div class="project-col-body">
                <p id="project-capinfo">There is a {{this.presalehardcap-neo}} NEO maximum cap for the pre-sale</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Token Issuance</div>
              </div>
              <div class="sub-text-false">
                <p id="project-issueinfo">Information not yet available</p>
              </div>
            </div>
          </div>
        </div>
        <div class="project-body">
          <div class="w-row">
            {{#equal this.presalehas "yes"}}
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Pre-Sale</div>
              </div>
              <div class="project-col-body">
                <p id="project-presale-peroid"><span class="pre">Period:</span> {{this.presaleperoid-start}} - {{this.presaleperoid-end}}</p>
                <p id="project-presale-accepted"><span class="pre">Tokens Accepted:</span> {{this.presaletokens}}</p>
                <p id="project-presale-softcap"><span class="pre">Soft Cap:</span> {{this.presalesoftcap-usd}} / {{this.presalesoftcap-neo}}</p>
                <p id="project-presale-hardcap"><span class="pre">Hard Cap:</span> {{this.presalehardcap-usd}} / {{presalehardcap-neo}}</p>
                <p id="project-presale-totalsupply"><span class="pre">Total Supply:</span> {{this.presaletotal-supply}}</p>
                <p id="project-presale-offeredsupply"><span class="pre">Offered Supply:</span> {{presaleoffered-supply}} ({{this.presaleoffered-supply-percent}})</p>
              </div>
            </div>
            {{/equal}}
            {{#equal this.crowdsalehas "yes"}}
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Crowd-Sale</div>
              </div>
              <div class="project-col-body">
                <p id="project-crowdsale-peroid"><span class="pre">Period:</span> {{this.crowdsaleperoid-start}} - {{this.crowdsaleperoid-end}}</p>
                <p id="project-crowdsale-accepted"><span class="pre">Tokens Accepted:</span> {{this.crowdsaletokens}}</p>
                <p id="project-crowdsale-softcap"><span class="pre">Soft Cap:</span> {{this.crowdsalesoftcap-usd}} / {{this.crowdsalesoftcap-neo}}</p>
                <p id="project-crowdsale-hardcap"><span class="pre">Hard Cap:</span> {{this.crowdsalehardcap-usd}} / {{this.crowdsalehardcap-neo}}</p>
                <p id="project-crowdsale-totalsupply"><span class="pre">Total Supply:</span>{{this.crowdsaletotal-supply}} {{this.ticker}}</p>
                <p id="project-crowdsale-offeredsupply"><span class="pre">Offered Supply:</span> {{this.crowdsaleoffered-supply}} ({{this.crowdsaleoffered-supply-percent}}) {{this.ticker}}</p>
              </div>
            </div>
            {{/equal}}
          </div>
        </div>
        <div class="project-heading">
          <div>
            <div class="project-title">Product Information</div>
          </div>
        </div>
        <div class="project-body">
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Plan For Independent Blockchain?</div>
              </div>
              <div class="project-col-body">
                <p id="project-product1">{{this.product-info1-description}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Key Partners &amp; Backers</div>
              </div>
              <div class="project-col-body">
                <p id="project-product2">{{this.product-info2-description}}</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Token Model</div>
              </div>
              <div class="project-col-body">
                <p id="project-product3">{{this.product-info3-description}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div class="project-col-title">Noteworthy Characteristics</div>
              </div>
              <div class="project-col-body">
                <p id="project-product4">{{this.product-info4-description}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="project-heading">
          <div>
            <div class="project-title">Token Sale Guidelines Compliance</div>
          </div>
        </div>
        <div class="project-body">
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s1" class="{{#rating this.guidelines-info1-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Proof of Concept or Prototype</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines1">{{this.guidelines-info1-description}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s2" class="{{#rating this.guidelines-info2-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Understanding of Core Technology</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines2">{{this.guidelines-info2-description}}</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s3" class="{{#rating this.guidelines-info3-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Inherent Token Value</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines3">{{this.guidelines-info3-description}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s4" class="{{#rating this.guidelines-info4-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Transparent Team</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines4">{{this.guidelines-info4-description}}</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s5" class="{{#rating this.guidelines-info5-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Legal Company Structure</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines5">{{this.guidelines-info5-description}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s6" class="{{#rating this.guidelines-info6-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Well Defined &amp; Realistic Roadmap</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines6">{{this.guidelines-info6-description}}</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s7" class="{{#rating this.guidelines-info7-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Explicit Allocation of Funds</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines7">{{this.guidelines-info7-description}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s8" class="{{#rating this.guidelines-info8-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">ICO Smart Contract Open for Public Audit</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines8">{{this.guidelines-info8-description}}</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s9" class="{{#rating this.guidelines-info9-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Avoids Explicit Advertising Channels</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines9">{{this.guidelines-info9-description}}</p>
              </div>
            </div>
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s10" class="{{#rating this.guidelines-info10-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Fair Token Distribution</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines10">{{this.guidelines-info10-description}}</p>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="project-col w-col w-col-6">
              <div class="project-col-heading">
                <div id="project-guidelines-s11" class="{{#rating this.guidelines-info11-status}}{{/rating}}"></div>
                <div class="project-col-title guidelines">Responsible Claim of Endorsement</div>
              </div>
              <div class="project-col-body">
                <p id="project-guidelines11">{{this.guidelines-info11-description}}</p>
              </div>
            </div>
            <div class="project-col empty w-col w-col-6"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <div class="footer-container w-container">
        <div class="footer-row w-row">
          <div class="footer-left w-col w-col-6 w-col-small-small-stack">
            <div class="footer-links-row w-row">
              <div class="footer-link1 w-clearfix w-col w-col-4 w-col-small-4"><a href="/add" class="footer-link">Add New Project</a></div>
              <div class="w-clearfix w-col w-col-4 w-col-small-4"><a href="/report" class="footer-link long">Report Mistake</a></div>
              <div class="w-clearfix w-col w-col-4 w-col-small-4"><a href="/request" class="footer-link">Request New Feature</a></div>
            </div>
            <p class="footer-p">Information provided by NEO List should not be considered financial advice. Please conduct your own research before making investment decisions.</p>
            <div class="terms-row w-row">
              <div class="column w-clearfix w-col w-col-6 w-col-small-6"><a href="/terms" class="footer-link grey">Terms &amp; Conditions</a></div>
              <div class="w-clearfix w-col w-col-6 w-col-small-6"><a href="/privacy-policy" class="footer-link grey">Privacy Policy</a></div>
            </div>
            <p class="footer-p">© 2018 NEO List. All Rights Reserved.</p>
          </div>
          <div class="footer-right w-col w-col-6 w-col-small-small-stack">
            <div class="row w-row">
              <div class="w-clearfix w-col w-col-6">
                <div class="tip-subtext">Tip Jar:</div>
              </div>
              <div class="w-clearfix w-col w-col-6">
                <div tooltipster="top" title="Don&#x27;t transfer funds, NNS not yet available" class="tip-box">
                  <div class="tip-text">neolist.neo</div>
                </div>
              </div>
            </div>
            <div class="credit-row footer row-2 w-row">
              <div class="credit-left w-clearfix w-col w-col-6"><img src="images/neolist-bolt.svg" class="bolt-img footer"></div>
              <div class="credit-right footer _2 w-clearfix w-col w-col-6">
                <div class="credit-info">Powered By</div><a href="https://twitter.com/ByteSizeCapital" target="_blank" class="credit-name">@ByteSizeCapital</a></div>
            </div>
            <div class="credit-row w-row">
              <div class="credit-left w-clearfix w-col w-col-6"><img src="images/neolist-brew.svg" class="bolt-img footer brew"></div>
              <div class="credit-right footer w-clearfix w-col w-col-6">
                <div class="credit-info">Built By</div><a href="https://twitter.com/tseringredmond" target="_blank" class="credit-name">@tseringredmond,</a><br></br><a href="https://tylorsarrafzadeh.com" target="_blank" class="credit-name">WaterlessStraw</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>